/bin/
/build/
.gradle/
.classpath
.project
.settings/
src/test/java/.gitignore
src/main/resources/application-local-dev.yml
src/main/resources/application-local-int.yml
src/main/resources/application-dev-local.yml
.idea/